@tailwind base;

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-ExtraBoldItalic.otf");
  font-weight: 800;
  font-style: italic;
}

:root {
  /* NEUTRAL COLOR */
  --gray-50: 249 250 251;
  --gray-100: 243 244 246;
  --gray-200: 229 231 235;
  --gray-300: 209 213 219;
  --gray-400: 156 163 175;
  --gray-500: 107 114 128;
  --gray-600: 75 85 99;
  --gray-700: 55 65 81;
  --gray-800: 31 41 55;
  --gray-900: 17 24 39;
  --gray-1000: 7 10 15;
  --gray-1100: 2 2 3;

  --zinc-50: 250 250 250;
  --zinc-100: 244 244 245;
  --zinc-200: 228 228 231;
  --zinc-300: 161 161 170;
  --zinc-400: 212 212 216;
  --zinc-500: 113 113 122;
  --zinc-600: 82 82 91;
  --zinc-700: 63 63 70;
  --zinc-800: 39 39 42;
  --zinc-900: 24 24 27;
  --zinc-1000: 6 9 14;
  --zinc-1100: 2 2 3;

  /* GLOBAL COLORS */
  --brand-light: 165 180 252;
  --brand: 99 102 241;
  --brand-dark: 55 48 163;
  --danger: 220 38 38; /** danger-600 **/
  --danger-hover: 185 28 28; /** danger-700 **/
  --info: 2 132 199; /** info-600 **/
  --info-hover: 3 105 161; /** info-700 **/
  --success: 5 150 105; /** success-600 **/
  --success-hover: 4 120 87; /** success-700 **/
  --warning: 245 158 11; /** warning-500 **/
  --warning-hover: 217 119 6; /** warning-600 **/
  /** TEXT COLORS **/
  --text-secondary: var(--gray-500);
  --text-primary: var(--gray-1100);
  /** BACKGROUND COLORS **/
  --bg-base: var(--gray-200);
  --bg-layer-1: 255 255 255;
  --bg-layer-2: var(--gray-100);
  /** BORDER **/
  --border-default: var(--gray-1100);
  /** RING **/
  --ring-default: var(--brand);
  --ring-ghost: var(--gray-300);
  --font-sans: "Inter";
  --font-display: "Lufga";
  --font-mono: ui-monospace;
}

.dark {
  /** TEXT COLORS **/
  --text-secondary: var(--gray-400);
  --text-primary: 255 255 255;
  /** BACKGROUND COLORS **/
  --bg-base: var(--gray-1100);
  --bg-layer-1: var(--gray-1000);
  --bg-layer-2: var(--gray-900);
  /** BORDER **/
  --border-default: var(--gray-700);
  /** RING **/
  --ring-ghost: var(--gray-700);
}

@tailwind components;
@tailwind utilities;
  